@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$blue-background: url(https://mdbootstrap.com/img/Photos/Others/background3.jpg);
$white-background: ghostwhite;
$blue: #0099ff;
$theme: $blue;

html,
body {
  min-width: 300px;
  font-family: "Ubuntu", sans-serif;
  background-color: $white-background;
}

.card-comments img {
  width: 4rem;
}

.theme-text {
  color: $theme;
}

.card-info,
.jumbotron,
.form-btn {
  padding: 8px;
  background-image: $blue-background;
}

.btn-border {
  color: $theme;
  background-color: transparent;
  border: 2px solid $theme;
}

.navbar-light {
  background-color: whitesmoke;
  a {
    .btn-outline-white {
      border-style: solid;
    }
  }
}
