{% load static %}

<!--Section: Jumbotron-->
<section class="card wow fadeIn jumbotron"
         style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background3.jpg);">

    <div class="card-body text-white text-center py-5 px-5">
        <h1 class="mb-4">
            <strong>Find tasks using Tags.</strong>
        </h1>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <a target="_blank" href=""
           class="btn btn-outline-white btn-lg">Search
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
</section>